body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
    color: #333;
}

/* Header */
header {
    background-color: #52a8ff;
    color: white;
    padding: 5px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}

header nav a {
    color: white;
    margin: 20px;
    text-decoration: none;
    font-weight: bold;
}

 header nav a:hover {
    text-decoration: underline;
}

/* Hero Section */
.hero {
    background-color: white;
    text-align: center;
    padding: 60px 20px;
}

.hero h2 {
    font-size: 36px;
    margin-bottom: 15px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 25px;
    color: #555;
}

.hero button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #1e90ff;
    color: white;
    border: none;
    cursor: pointer;
}

.hero button:hover {
    background-color: #0951be;
}

/* Features */
.features {
    padding: 60px 20px;
}

.section-title {
    text-align: center;
    font-size: 30px;
    margin-bottom: 40px;
}

.feature-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.feature-box {
    background-color: white;
    width: 250px;
    padding: 5px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    transition: transform 0.3s;
}

.feature-box:hover {
    transform: translateY(-8px);
}

.feature-box h3 {
    color: #1e90ff;
    margin-bottom: 10px;
}

/* ===== About Section ===== */
.about {
    background-color: rgb(225, 235, 245);
    padding: 40px;
    display: flex;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
}

.about-text {
    flex: 1;
}

.about-text h2 {
    margin-top: -10px;
    margin-bottom: 20px;
}


/* Contact */
.contact {
    background-color: #f4f4f4;
    padding: 5px;
    text-align: center;
}

/* Footer */
footer {
    background-color: #1e90ff;
    color: white;
    text-align: center;
    padding: 10px;
}
